<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>440924652132-h60bcdrh3nu22nf72pagohfgg7cslq8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440924652132-h60bcdrh3nu22nf72pagohfgg7cslq8r</string>
	<key>API_KEY</key>
	<string>AIzaSyAz_3hQdbMqxv3NiQS2O00euxsPnLSAdU0</string>
	<key>GCM_SENDER_ID</key>
	<string>440924652132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushpulllegs.com</string>
	<key>PROJECT_ID</key>
	<string>ppl-workout-01</string>
	<key>STORAGE_BUCKET</key>
	<string>ppl-workout-01.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:440924652132:ios:60da56556afd2e4a219571</string>
</dict>
</plist>
